@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Cairo', sans-serif;
}

.button {
    width: 8vw;
    height: 3vh;
    font-family: 'Cairo', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.button:hover {
    background: cadetblue;
}

.smallBtn {
    width: 5vw;
    height: 3vh;
    font-family: 'Cairo', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 2%;
}

.smallBtn:hover {
    background: cornflowerblue;
}

.container {
    width: 100%;
}

/* ///////////////////////////// NAVIGATION BAR /////////////////////////// */

.navContainer {
    display: flex;
    flex-direction: column;
}

.navbar {
    background: slategray;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.navTitle {
    margin-left: 5%;
}

.menu-bars {
    margin-left: 1rem;
    background: none;
}

.nav-menu {
    background: slategray;
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    transition: 1s;
    margin-left: 1%;
}

.nav-menu.active {
    left:0;
    transition: .7s;
}

.nav-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6%;
}

.navLinks {
    display: flex;
    margin-top: 2%;
}

.navBtn {
    border: none;
    background: none;
}

.navBtnImg {
    width: 3vw;
}

.socialBtn {
    width: 2.5vw;
    margin-left: 3%;
}

/* ======================================================================== */

/* ////////////////////////////////// BODY //////////////////////////////// */

.mainbody {
    position: relative;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    transition: 1s;
}

.mainbody.left {
    left: 26%;
    transition: .7s;
}

.todoList {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.todoItem {
    margin-bottom: 1%;
    padding: 2%;
    text-align: center;
}

.todoDetail {
    border: 1px solid black;
    width: 100%;
    background: ghostwhite;
}

.times {
    display: flex;
    justify-content: space-around;
}

.editDelete {
    display: flex;
    justify-content: space-evenly;
}

.switch {
    width: 20vw;
    margin-top: 1%;
}

.loggedOut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.loginDiv {
    margin-top: 4%;
}

.formDiv {
    margin-top: -15%;
}



/* ======================================================================== */

.addForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textarea {
    resize: vertical;
    height: 10vh;
    width: 15vw;
}

.addField {
    text-align: center;
    width: 15vw;
}

.addSubmit {
    width: 6vw;
    height: 6vh;
    font-family: 'Cairo', sans-serif;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 2%;
}

.calendar {
    position: relative;
}

/* ======================================================================== */
